html(lang="en")
  head
    title Jade
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="../css/index.css")
    link(href="../../component/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    script(src='../../component/bower/angular/angular.js')
    script(src="../../component/bower/jquery/dist/jquery.min.js")
    script(src="../../component/bower/bootstrap/dist/js/bootstrap.min.js")

  body
    .bordered
      h1 Hello Jade!
    br
    #container
      .row
        .col-md-1 ONE
        .col-md-3 two
        .col-md-5 THREE 
      p jade exercise
    br
    div(ng-app="")
      p name:
        input(type="text" ng-model="name")
      h1 Hello {{name}}
      p. 
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
      p
        | the first The second
        p The third

      ul
        li one
        li: a(href="") two
      
